COMPOSE_PROJECT_NAME=careeros
DOCKER_NETWORK=careeros-network

POSTGRES_DB=careeros
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST_PORT=5433

PGADMIN_EMAIL=admin@careeros.com
PGADMIN_PASSWORD=change-me
PGADMIN_PORT=5050

REDIS_HOST_PORT=6379
KAFKA_HOST_PORT=9092
KAFKA_UI_PORT=8085
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
